<input type="hidden" id="sessionId" th:value="${userId}">
<input type="hidden" id="sessionName" th:value="${userName}">
<input type="hidden" id="sessionUuid" th:value="${userUuid}">
<div class="bg-light top-title">
    <span onclick="location.href='/';" style="cursor:pointer;">BOARD_Yu0</span>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="boardList">게시판 목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="boardWrite">게시글 작성</a>
                </li>
                <li class="nav-item dropdown" th:style="${userId != null ? 'display:block' : 'display:none'}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        마이페이지
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="myInfo">내정보 수정</a></li>
                        <li><a class="dropdown-item" href="myBoard">내가 쓴 글</a></li>
                    </ul>
                </li>
                <li class="nav-item" th:style="${userId == null ? 'display:block' : 'display:none'}">
                    <a class="nav-link" href="join">회원가입</a>
                </li>
                <li class="nav-item" th:style="${userId == null ? 'display:block' : 'display:none'}">
                    <a class="nav-link" href="login">로그인</a>
                </li>
                <li class="nav-item" th:style="${userId != null ? 'display:block' : 'display:none'}">
                    <a class="nav-link" href="logout">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

