<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board Project</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/board/boardWrite.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header id="header"></header>

<div>
    <div class="container-fluid">
        <div class="fluid-main">
            <div class="fluid-title">
                게시글 작성
            </div>
            <div class="btnBox">
                <button type="button" class="btn btn-secondary listBtn" onclick="onClickListBtn()">목록</button>
                <button type="button" class="btn btn-dark saveBtn" onclick="onClickSaveBtn()">저장</button>
            </div>
            <div>
                <div class="mb-3">
                    <label for="board-title" class="form-label">제목</label>
                    <input class="form-control" id="board-title" placeholder="제목을 입력해 주세요.">
                </div>
                <div class="mb-3">
                    <label for="board-writer" class="form-label">작성자</label>
                    <input class="form-control" id="board-writer" readonly>
                </div>
                <div class="mb-3">
                    <label for="board-content" class="form-label">내용</label>
                    <textarea class="form-control" id="board-content" rows="5" placeholder="내용을 입력해 주세요."></textarea>
                </div>
                <div class="mb-3 row">
                    <label for="board-lock" class="col-sm-2 col-form-label">비밀글</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="y" name="board-lock" id="board-lock" onclick="onClickLockYn()" checked>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row" id="lockYN" style="display: flex">
                    <label for="board-lockPw" class="col-sm-2 col-form-label">비밀번호</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control width-20" maxlength="4" id="board-lockPw">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer id="footer"></footer>
</body>
</html>