<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Project</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/board/boardDetail.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header id="header"></header>

<div class="board-detail">
    <div class="container-fluid">
        <div class="fluid-main">
            <div class="fluid-title">
                게시글
            </div>
            <div class="btnBox">
                <button type="button" class="btn btn-secondary listBtn" onclick="onClickListBtn()">목록</button>
                <button type="button" class="btn btn-dark" id="updateBtn" onclick="onClickUpdateBtn()">수정</button>
            </div>
            <div>
                <input type="hidden" id="no" th:value="${no}"/>
                <input type="hidden" id="lockYn"/>
                <div class="mb-3">
                    <label for="board-title" class="form-label">제목</label>
                    <input class="form-control" id="board-title" readonly>
                </div>
                <div class="mb-3">
                    <label for="board-writer" class="form-label">작성자</label>
                    <input class="form-control" id="board-writer" readonly>
                </div>
                <div class="mb-3">
                    <label for="board-content" class="form-label">내용</label>
                    <textarea class="form-control" id="board-content" rows="5" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="reply">
    <div class="container-fluid">
        <div class="fluid-main">
            <div class="reply-border reply-over">
                <textarea class="form-control reply-left" rows="3"></textarea>
                <button type="button" class="btn btn-secondary reply-right">등록하기</button>
            </div>
            <div class='reply-border reply-wrap'>
                <div class="reply-over m-b-10">
                    <div class="reply-left">
                        <strong>테스터</strong>
                        <small>2022-03-05</small>
                    </div>
                    <div class="reply-right">
                        <a href="#">삭제</a>
                        <a href="#">수정</a>
                    </div>
                </div>
                <div class="reply-content">
                    <p>댓글 테스트 확인</p>
                </div>
            </div>
            <div class='reply-border reply-wrap'>
                <div class="reply-over m-b-10">
                    <div class="reply-left">
                        <strong>테스터2</strong>
                        <small>2022-03-05</small>
                    </div>
                    <div class="reply-right">
                        <a href="#">삭제</a>
                        <a href="#">수정</a>
                    </div>
                </div>
                <div class="reply-content">
                    <p>댓글 테스트 확인222</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer"></footer>
</body>
</html>