/* header */
.top-title{
    text-align: center;
    font-size: 50px;
    height: 100px;
    font-weight: 900;
    line-height: 100px;
}
.navbar-nav {
    margin: 0 auto;
}
.navbar-nav li {
    padding: 0 10px;
    margin: 0 40px;
}
.dropdown-menu li {
    width: 100%;
    margin: 0;
}
.navbar-nav li a{
    font-size: 15px;
}
/* footer */